doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/main_controller.js')
  body(ng-app='bc-calc', ng-controller='MainCtrl')
    .bar.bar-header.bar-energized
      h1.title Calcu-Now
    ion-content.has-header
      .view-panel
        .memory {{memory}} {{sym}}
        .display {{display}}
      .row
        .col
          a.button.button-energized(ng-click='number(7)') 7
        .col
          a.button.button-energized(ng-click='number(8)') 8
        .col
          a.button.button-energized(ng-click='number(9)') 9
        .col
          a.button.button-calm(ng-click='symbol(\'+\')') +
      .row
        .col
          a.button.button-energized(ng-click='number(4)') 4
        .col
          a.button.button-energized(ng-click='number(5)') 5
        .col
          a.button.button-energized(ng-click='number(6)') 6
        .col
          a.button.button-calm(ng-click='symbol(\'-\')') -
      .row
        .col
          a.button.button-energized(ng-click='number(1)') 1
        .col
          a.button.button-energized(ng-click='number(2)') 2
        .col
          a.button.button-energized(ng-click='number(3)') 3
        .col
          a.button.button-calm(ng-click='symbol(\'*\')') &times;
      .row
        .col
          a.button.button-energized(ng-click='number(0)') 0
        .col
          a.button.button-energized(ng-click='number(\'.\')') .
        .col
          a.button.button-positive(ng-click='symbol(\'=\')') =
        .col
          a.button.button-calm(ng-click='symbol(\'/\')') &div;
      .row
        br
        .button-bar
          a.button.button-light(ng-click='clear()')
            span(ng-show='secondClear') Clear Display
            span(ng-hide='secondClear') Clear Memory
    .bar.bar-footer.bar-energized
