ion-content{
  padding: 10px;
}

.view-panel{
  text-align: right;
  background-color: #ffdc90;
  border: 2px solid #f0b840;
  border-radius: 4px;
  color: #4A87EE;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 8px;
  height: 80px;
  padding-right: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.display{
  line-height: 48px;
  height: 60%;
  font-size: 42px;
}

.memory{
  line-height: 32px;
  height: 40%;
  font-size: 26px;
}

.row .col .button{
  height: 70px;
  width: 70px;
  line-height: 70px;
  font-size: 30px;
  vertical-align: middle;
}

.col{
  height: 75px;
  text-align: center;
}

.button-bar .button{
  margin-top: 8px;
  font-size: 25px;
  color: #4A87EE;
  background-color: #ffdc90;
}

.bar-footer{
  height: 2px;
}
